* {
  margin: 0;
  padding: 0;
}

#nav {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgray;
  font-family: monospace;
}
#nav ul {
  display: flex;
}
#nav ul li {
  list-style-type: none;
}
#nav ul li p {
  display: inline;
  padding: 10px 10px;
  font-size: 20px;
}

#nav ul li p:hover {
  background-color: gray;
  color: white;
}
.content {
  padding-top: 50vh;
  text-align: center;
}
#color {
  padding: 10px;
  font-family: monospace;
  font-size: 25px;
  color: white;
  background-color: black;
}
#content-p {
  background-color: black;
  padding: 10px;
  color: white;
  display: inline;
  font-size: 25px;
  font-family: monospace;
}
#button {
  margin-top: 15px;
  padding: 10px;
  font-size: 15px;
}
